<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.cshtml" />
            </files>
        </defaultDocument>
        <httpErrors>
               <remove statusCode="404" subStatusCode="-1" />
               <error statusCode="404" prefixLanguageFilePath="" path="/Error/404" responseMode="ExecuteURL" />
               <remove statusCode="403" subStatusCode="-1" />
               <error statusCode="403" prefixLanguageFilePath="" path="/Error/403" responseMode="ExecuteURL" />
          </httpErrors>
    </system.webServer>
</configuration>