<?xml version="1.0" encoding="utf-8"?>
<sources>
  <source url="http://go.microsoft.com/fwlink/?LinkID=226946" displayname="По умолчанию" filterpreferred="true" />
  <source url="http://go.microsoft.com/fwlink/?LinkID=226948" displayname="По умолчанию (все)" filterpreferred="false" />
</sources>